.create-usr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    background-color: rgba(0, 119, 255, 0.678);
    border-radius: 10px;
}
.spn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.create-usr:hover{
    background-color: rgba(0, 119, 255, 0.253);
}